<div id="Table">    
    
     <h4 class="flow-text brown-text lighten-3 header center-align">Crear Nuevo Producto</h4>
    <h6 class="flow-text brown-text lighten-3 center-align">Ingrese los datos del nuevo producto</h6>
    
        
      
          <div class="row">
            <form class="col s12" ng-submit="submit()"ng-controller="crearexpediente">
                 <div class="row">
                     <div class="input-field col s6">
                          <input id="nombreProducto" type="text" class="validate" ng-model="nombre">
                          <label for="nombreRepresentante">Nombre del Producto<span id="asterisco"> *</span></label>
                    </div>
                    
                    
                     <div class="input-field col s6">
                          <input id="nombreRepresentante" type="text" class="validate" ng-model="responsable">
                          <label for="nombreRepresentante">Nombre Categoria<span id="asterisco" > *</span></label>
                    </div>
                     <div class="input-field col s6">
                          <input id="nombreRepresentante" type="text" class="validate" ng-model="responsable">
                          <label for="nombreRepresentante">Cantidad<span id="asterisco" > *</span></label>
                    </div>
                     <div class="input-field col s6">
                          <input id="nombreRepresentante" type="text" class="validate" ng-model="responsable">
                          <label for="nombreRepresentante">Fecha de Ingreso<span id="asterisco" > *</span></label>
                    </div>
                  </div>
                  <br><br>
                <div class="col s9 right-align">
                  <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
            </form>
        
    </div>
    
 
</div>