<div id="Table">    
    
     <h4 class="flow-text brown-text lighten-3 header center-align">Crear Nuevo Producto</h4>
    <h6 class="flow-text brown-text lighten-3 center-align">Ingrese los datos del nuevo producto</h6>
    
        
      
          <div class="row">
            <form class="col s12" ng-submit="submit()"ng-controller="crearproducto">
                 <div class="row">
                     <div class="input-field col s6">
                         <input id="Barcode" type="text" class="validate" ng-model="barcode">
                          <label for="Barcode">Barcode<span id="asterisco"> *</span></label>
                     </div>
                     <div class="input-field col s6">
                          <input id="nombre" type="text" class="validate" ng-model="nombre">
                          <label for="nombre">Nombre del Producto<span id="asterisco"> *</span></label>
                    </div>
                    
                    
                     <div class="input-field col s6">
                          <input id="nombrec" type="text" class="validate" ng-model="categoria">
                          <label for="nombrec">Nombre Categoria<span id="asterisco" > *</span></label>
                    </div>
                     <div class="input-field col s6">
                          <input id="purch" type="text" class="validate" ng-model="purch">
                          <label for="purch">Purch<span id="asterisco" > *</span></label>
                    </div>
                     <div class="input-field col s6">
                          <input id="sell" type="text" class="validate" ng-model="sell">
                          <label for="sell">sell<span id="asterisco" > *</span></label>
                    </div>
                  </div>
                  <br><br>
                <div class="col s9 right-align">
                  <button ng-submit="submit()" class="btn-floating btn-large waves-effect waves-light brown lighten-1">+</button>
                  </div>
            </form>
        
    </div>
    
 
</div>