<div id="Table">
    <h3 class="center-align ">Reporte de Inventario de Productos</h3>
      <ul class="tabs" id="ul-medicamentos">
        <li class="tab col s3 active brown-text text-lighten-3" id="li-inventario"><a href="#/reporterorden">Orden de Compra</a></li>
        <li class="tab col s3 brown-text text-lighten-1" id="li-inventario"><a href="#/reportes">Inventario</a></li>
     </ul>
    <form ng-controller="reportes_inventario">
    <table class="striped">
        <tr>
          <th>Nombre del Producto</th><th>Categoria</th><th>Cantidad Actual</th><th>Cantidad Pasada</th>
        </tr>
        <tr ng-repeat="item in Productos" value="{{item.inventory_id}}"ng-click="search(item)">
                               <td >{{item.product_name}}</td>
                               <td >{{item.category_name}}</td>
                               <td >{{item.quantity}}</td>
                               <td >{{item.past_quantity}}</td>
                      <td><i class="small material-icons">toc</i></td>
                  </tr>
    </table>
    </form>
</div>